@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), sans-serif;
}

#__next {
  width: 100%;
  height: 100vh;
}
